.DS_Store
.idea
/OS/HW3/.idea/
/OS/HW3/cmake-build-debug/
/OS/HW4/.idea/
/OS/HW4/cmake-build-debug/
/OS/HW5/.idea/
/OS/HW5/cmake-build-debug/
/OS/HW6/.idea/
/OS/HW6/cmake-build-debug/
/OS/HW7/.idea/
/OS/HW7/cmake-build-debug/
/OS/HW8/.idea/
/OS/HW8/cmake-build-debug/
/OS/HW9/.idea/
/OS/HW9/cmake-build-debug/
/OS/HW10/.idea/
/OS/HW10/cmake-build-debug/
/OS/HW11/.idea/
/OS/HW11/cmake-build-debug/
/OS/HW12/.idea/
/OS/HW12/cmake-build-debug/
/OS/HW13/.idea/
/OS/HW13/cmake-build-debug/
/OS/OS2_Semaphore/.idea/
/OS/OS2_Semaphore/cmake-build-debug/
/OS/OS2_Semaphore/
/OS/OS3_TCP/.idea/
/OS/OS3_TCP/cmake-build-debug/
/OS/OS4_UDP/.idea/
/OS/OS4_UDP/cmake-build-debug/
/Threads_cpp/files/cmake-build-debug/

